body{
    background-image: url(./images/dolar-fondito.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: roboto,sans-serif; 
}

#posicion{
  margin:230px;
}

.posicion-2{
    margin:50px 50px 50px 0px;
  }